<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern" value="%-5level - %msg%n" />
		</layout>
	</appender>

	<root>
		<level value="ERROR"/>
		<appender-ref ref="CONSOLE"/>
	</root>

	<!--
	<logger name="de.huxhorn">
		<level value="TRACE"/>
	</logger>
	-->
</configuration>
